@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap");

body {
  margin: 0;
  font-family: "Yantramanav", sans-serif;
  font-size: larger;
}

.navbar {
  width: 100%;
  margin: auto;
}

.content {
  width: 78%;
  margin: auto;
  overflow-y: scroll;
}

.active {
  text-transform: uppercase;
  font-size: large;
  font-weight: bolder;
}

.fa-heart {
  color: black;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
}

.imageModal {
  width: 100%;
  height: 300px;
  margin: auto;
}

ul li {
  list-style: none;
}

.container-fluid {
  background-color: rgb(202, 241, 228);
  height: 50px;
}

.btn {
  background-color: rgb(105, 103, 103);
  border-radius: 5px;
}

.underlined {
  text-decoration: none;
}

.fixed-bottom {
  background-color: rgb(202, 241, 228);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-weight: 400;
  font-size: larger;
}

.list-group {
  overflow-y: scroll;
  max-height: 150px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 #08080833, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.modal-content {
  border-radius: 10px;
}
